@charset "UTF-8";

/* Configurações da página contato */
form {
    width: 50%;
    margin: 0 auto;
    box-shadow: 4px 8px 8px #9C9B7A;
    padding: 50px;
}

input, textarea {
    width: 100%;
    padding: 14px;
}


