@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: #405952;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px;
}

/* Formatação do titulo h1. */
#cabecalho > .principal {
    display: none;
}

/* Formatação do logo. */
#logo {
    display: block;
    position: absolute;
    height: 7%;
    left: 150px;
    top: 10px;   
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.192);
}

/* Formatações do menu de navegação. */
nav#menu {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 4px;
    left: 520px;
}

nav#menu li {
    display: inline-block;
    background-color: #405952;
    padding: 5px;
    margin: 2px;
}

nav#menu a {
    color: #FF974F;
    text-decoration: none;
    padding: 1em 1.5em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all .5s ease-in-out;
    position: relative;
    font-weight: bold;
}

nav#menu a:hover, nav#menu a:focus {
    background: #9c9b7a2a;
}

nav#menu a::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #FF974F;
    width: 0px;
    height: 3px;
    transition: all 300ms ease-out;
}

nav#menu a:hover::after {
    width: 100%;
}

/* Formatação da capa. */
figure.capa {
    position: relative;
    top: 80px;
    margin: 0px;
}

figure.capa img {
    width: 100%;
}

/* Formatação do corpo - hgroup, seção e artigos. */
#corpo > #secundarios > hgroup {
    display: block;
    position: relative;
    background-color: #ff984f0c;
    color: #9c9b7a;
    text-align: center; 
    top: 20px;
    height: 214px;
}

#corpo > #secundarios > hgroup > h2 {
    padding: 1px;
    background-color: #4059528f;
    color: #ff5a42;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.425);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.637);
   
}

#corpo > #secundarios > hgroup > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#corpo > #secundarios > #capa01 > img {
    width: 1349px;
    height: 815px;
    margin-top:15px;
    
}

/* Formatação do rodapé. */
footer#rodape {
    display: block;
    background-color: #9c9b7a;
    padding: 10px;
    margin: 0px;
}

footer#rodape ul {
    list-style: none;
    position: relative;
    top: 0px;
    text-align: center;
}

footer#rodape li {
    display: inline-block;
    padding: 10px;      
}

footer#rodape p {
    position: relative;
    top: 0px;
    text-align: center;
}
